%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"}
= cloudinary_js_config
.container.createquestion
  %h2 Create New Question
  %hr/
  .row
    .col-md-10
      = form_tag questions_path,:id=>"createQuestionForm" do
        .form-group
          = label :question, :category, 'Question Category',class: "control-label"
          = select :question,:category, ['Networks', 'Algorithms', 'Operating Systems', 'Software'],{}, class:"form-control"
        .form-group
          = label :question, :question, 'Question',class: "control-label"
          = text_field :question, 'question', class:"form-control", autofocus: "true", placeholder: "Please add Question text or Image"
          = cl_image_upload_tag(:imagequestion,:tags => "directly_uploaded_question",:crop => :limit, :width => 900, :height => 900,:eager => [{ :crop => :fill, :width => 750, :height => 240 }],:html => { :class=>"form-control fuquestion",:style => "margin-top: 8px" }  )
          .updatequestion
        .form-group
          = label :question, :option1, 'Option1',class: "control-label"
          = text_field :question, 'option1', class:"form-control", autofocus: "true", placeholder: "Please add option text or Image"
          = cl_image_upload_tag(:image1,:tags => "directly_uploaded",:crop => :limit, :width => 500, :height => 300,:eager => [{ :crop => :fill, :width => 350, :height => 70 }],:html => { :class=>"form-control fu1",:style => "margin-top: 8px" }  )
          .update1
        .form-group
        = label :question, :option2, 'Option2',class: "control-label"
        = text_field :question, 'option2', class:"form-control", autofocus: "true", placeholder: "Please add option text or Image"
        = cl_image_upload_tag(:image2,:tags => "directly_uploaded",:crop => :limit, :width => 500, :height => 300,:eager => [{ :crop => :fill, :width => 350, :height => 70 }],:html => { :class=>"form-control fu2",:style => "margin-top: 8px" }  )
        .update2
        .form-group
          = label :question, :option3, 'Option3',class: "control-label"
          = text_field :question, 'option3', class:"form-control", autofocus: "true", placeholder: "Please add option text or Image"
          = cl_image_upload_tag(:image3,:tags => "directly_uploaded",:crop => :limit, :width => 500, :height => 300,:eager => [{ :crop => :fill, :width => 350, :height => 70 }],:html => { :class=>"form-control fu3",:style => "margin-top: 8px" }  )
          .update3
        .form-group
          = label :question, :option4, 'Option4',class: "control-label"
          = text_field :question, 'option4', class:"form-control", autofocus: "true", placeholder: "Please add option text or Image"
          = cl_image_upload_tag(:image4,:tags => "directly_uploaded",:crop => :limit, :width => 500, :height => 300,:eager => [{ :crop => :fill, :width => 350, :height => 70 }],:html => { :class=>"form-control fu4",:style => "margin-top: 8px" }  )
          .update4
        .form-group 
          = label :question, :option5, 'Option5',class: "control-label"
          = text_field :question, 'option5', class:"form-control", autofocus: "true", placeholder: "Please add option text or Image"
          = cl_image_upload_tag(:image5,:tags => "directly_uploaded",:crop => :limit, :width => 500, :height => 300,:eager => [{ :crop => :fill, :width => 350, :height => 70 }],:html => { :class=>"form-control fu5",:style => "margin-top: 8px" }  )
          .update5
        .form-group
          = label :question, :answer, 'Correct Answer',class: "control-label"
          = text_field :question, 'answer', class:"form-control", autofocus: "true", placeholder: "Please add correct option number. For e.g., If Option 1 is correct, put 1 in this field"
        .row
          .form-group.mx-auto
            = submit_tag 'Save Changes',class: "btn btn-primary"