.container.jumbotron
  %h1.row Select a Category
  .row
    = form_tag practice_path, :method => :get do
      - @all_categories.each do |category|
        .form-check
          = check_box_tag "categories[#{category}]",1,false, class: "form-check-input"
          %label.form-check-label #{category}
      .row
        .mx-auto
          = submit_tag 'Start Practice', name:nil, class: "btn btn-lg btn-primary --margintop16"
  